<!DOCTYPE html>
<html lang="ko-KR">
<head>
        <meta charset="UTF-8">
        <title>List 보여주기</title>
</head>
<body>
        <div id="service_title">No title</div>
        <div id="service_content">
                        NO content
        </div>
</body>
<script src="{{url_for('static', filename='jquery-1.12.4.min.js')}}"></script>
<script src="{{url_for('static', filename='jquery-ui.js')}}"></script>

<script type="text/javascript">
var list_info = '{{ list_info|safe }}';
console.log(list_info);
var list_info_json = JSON.parse(list_info);
console.log(list_info_json);

$("#service_title").html("<h2>Service List - 종목 별 최근 주식가격</h2>");

var table_html = '<table border="2">' +
        '<th>종목</th>' +
        '<th>주식가격</th>';
for(var cname in list_info_json) {
        var recent_value = list_info_json[cname];

        table_html += '<tr>';
        table_html += '<td>' + cname + '</td>';
        table_html += '<td>' + recent_value + '</td>';
        table_html += '</tr>';
}
table_html += '</table>';
$("#service_content").html(table_html);

</script>
</html>
